@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

* {
    font-family: 'Bitter', serif;
    background-color: #fff9f9;
    padding: 0;
    margin: 0;
}

#n-psp{
    margin-top: 20px;
    margin-left: 650px;
    font-size: 65px;
}

#novi-btn{
    font-size: 25px;
    margin-left: 840px;
    margin-top: 20px;
}

#add-forma{
    width: 800px;
    margin-top: 50px;
    margin-left: 600px;
    font-size: 20px;
}

#dodaj_telefon_button, #izmeni_telefon_button{
    margin-top: 10px;
    margin-left: 300px;
    font-size: 22px;
}

.form-input{
    margin-top: 10px;
    margin-bottom: 5px;
}

.telefoni-prikaz {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 300px 300px 300px;
    grid-row-gap: 150px;
    grid-column-gap: 100px;
    justify-content: center;
}


#slika-tel{
    margin-left: 50px;
}


#pretraga-txt{
    width: 500px;
    margin-left: 10px;
    margin-top: -65px;
}


#sort-sel-id{
    width: 250px;
    margin-left: 1400px;
    margin-top: -35px;
}

#sortiraj-btn{
    margin-left: 280px;
    margin-top: -63px;
    width: 150px;
}

#edit-button{
    font-size: 20px;
    margin-left: 100px;
    width: 100px;
}